@model OnlineGuitarRentals.Models.Subscriber.SubscriberIndexModel
@{ 
    ViewBag.Title = "Subscriber Index";
}

<h3 class="indexTitle">@ViewBag.Title</h3>
<div id="SubscriberIndex">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp customTable" id="subscriberIndexTable">
        <thead>
            <tr>
                <th>Profile Link</th>
                <th><a asp-controller="Subscriber" asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParam"]">Last Name</a></th>
                <th><a asp-controller="Subscriber" asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParam"]">First Name</a></th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th><a asp-controller="Subscriber" asp-action="Index" asp-route-sortOrder="@ViewData["RenewalSortParam"]">Renewal Date</a></th>
                <th><a asp-controller="Subscriber" asp-action="Index" asp-route-sortOrder="@ViewData["ExpirationSortParam"]">Expiration Date</a></th>
                <th><a asp-controller="Subscriber" asp-action="Index" asp-route-sortOrder="@ViewData["ActiveSortParam"]">Active</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var subscriber in Model.Subscriber)
            {
            <tr>
                <td><a asp-controller="Subscriber" asp-action="Detail" asp-route-id="@subscriber.Id">(Profile)</a></td>
                <td>@subscriber.LastName</td>
                <td>@subscriber.FirstName</td>
                <td>@subscriber.Address</td>
                <td>@subscriber.Email</td>
                <td>@subscriber.PhoneNumber</td>
                <td>@subscriber.RenewalDate</td>
                <td>@subscriber.ExpirationDate</td>
                <td>@subscriber.Active</td>
            </tr>
            }

        </tbody>
    </table>
</div>