@model OnlineGuitarRentals.Models.Inventory.InventoryIndexModel
@{
    ViewData["Title"] = "Inventory Ledger";
}

<h3 class="indexTitle">@ViewData["Title"]</h3>
<div id="invIndex">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp customTable" id="invLedger">
        <thead>
            <tr>
                <th><a asp-controller="Inventory" asp-action="Index" asp-route-sortOrder="@ViewData["IDSortParam"]">Product ID</a></th>
                <th><a asp-controller="Inventory" asp-action="Index" asp-route-sortOrder="@ViewData["BrandSortParam"]">Asset Brand</a></th>
                <th><a asp-controller="Inventory" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">Asset Name</a></th>
                <th><a asp-controller="Inventory" asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParam"]">Asset Type</a></th>
                <th><a asp-controller="Inventory" asp-action="Index" asp-route-sortOrder="@ViewData["StyleSortParam"]">Asset Style</a></th>
                <th><a asp-controller="Inventory" asp-action="Index" asp-route-sortOrder="@ViewData["StockSortParam"]">Total Stock</a></th>
                <th><a asp-controller="Inventory" asp-action="Index" asp-route-sortOrder="@ViewData["ValueSortParam"]">Total Asset Value</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inv in Model.Inventory)
            {
            <tr>
                <td class="strongTd" ><a asp-controller="Product" asp-action="Detail" asp-route-id="@inv.Id">@inv.Id</a></td>
                <td class="name">@inv.AssetBrand</td>
                <td class="nameLong">@inv.AssetName</td>
                <td>@inv.AssetType</td>
                <td>@inv.AssetStyle</td>
                <td class="num2d">@inv.TotalStock</td>
                <td class="num">$@inv.TotalAssetValue</td>
            </tr>
            }
        </tbody>
    </table>
</div>