@model OnlineGuitarRentals.Models.Distribution.DistributionDetailModel
@{
    ViewBag.Title = Model.Name;
}

<h2 class="indexTitle">Distribution Center Information</h2>
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="jumboheader">
            <div class="detailTitle">
                <h4 id="centerName">@Model.Name</h4>
                <p>
                    <div class="centerContact">
                        <div id="centerAddress">@Model.Address</div>
                        <div id="centerTelephone">@Model.Telephone</div>
                    </div>
                </p>
                <div id="centerLoc">
                    <div id="centerRegion">Region: @Model.Region</div>
                    <div id="centerStates">States Served: @Model.StatesServed</div>
                </div>
            </div>
        </div>
        <div class="jumbobody">
            <div id="centerStats">
                <table>
                    <tr>
                        <td class="itemLabel">Number of Subscribers Serviced: </td>
                        <td class="itemValue">@Model.NumberOfSubscribers</td>
                    </tr>
                    <tr>
                        <td class="itemLabel">Total Number of Assets: </td>
                        <td class="itemValue">@Model.TotalStock</td>
                    </tr>
                    <tr>
                        <td class="itemLabel">Total Value of Assets: </td>
                        <td class="itemValue">@Model.TotalAssetValue</td>
                    </tr>
                </table>
            </div>
            <div id="centerCouriers">Couriers: @Model.Couriers</div>
            <div id="centerHours">
                <ul>
                    @foreach (var day in Model.HoursOpen)
                    {
                        <li>@day</li>
                    }
                </ul>
            </div>
            <div>
                <img id="centerImage" src="@Model.ImageUrl" alt="Image of @Model.Name" />
            </div>
        </div>
    </div>
</div>
