@model OnlineGuitarRentals.Models.Distribution.DistributionIndexModel
@{ 
    ViewBag.Title = "Distribution Center Index";
}

<h2 class="indexTitle">@ViewBag.Title</h2>
<div id="distributionIndex">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp customTable" id ="distributionTable">
        <thead>
            <tr>
                <th><a asp-controller="Distribution" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">Distribution Center</a></th>
                <th><a asp-controller="Distribution" asp-action="Index" asp-route-sortOrder="@ViewData["DeliverSortParam"]">Delivering Now</a></th>
                <th><a asp-controller="Distribution" asp-action="Index" asp-route-sortOrder="@ViewData["AssetsSortParam"]">Number of Assets</a></th>
                <th><a asp-controller="Distribution" asp-action="Index" asp-route-sortOrder="@ViewData["ValueSortParam"]">Total Asset Value</a></th>
                <th><a asp-controller="Distribution" asp-action="Index" asp-route-sortOrder="@ViewData["SubsSortParam"]">Number of Subscribers Serviced</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var center in Model.DistributionCenters)
            {
                <tr>
                    <td class="strongTd"><a asp-controller="Distribution" asp-action="Detail" asp-route-id="@center.Id">@center.Name</a></td>
                    <td>@center.IsDelivering</td>
                    <td>@center.TotalStock</td>
                    <td>@center.TotalAssetValue</td>
                    <td>@center.NumberOfSubscribers</td>
                </tr>
            }
        </tbody>
    </table>
</div>