@model OnlineGuitarRentals.Models.Rentals.RentalModel

@{
    ViewData["Title"] = "Rent Out " + @Model.Name;
}


@section Scripts{
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type='text/javascript'>
        localStorage.setItem('imageUrl', '@Model.ImageUrl');
        localStorage.setItem('altImageUrl1', '@Model.AltImageUrl1');
        localStorage.setItem('altImageUrl2', '@Model.AltImageUrl2');
        localStorage.setItem('altImageUrl3', '@Model.AltImageUrl3');
        localStorage.setItem('altImageUrl4', '@Model.AltImageUrl4');
        localStorage.setItem('altImageUrl5', '@Model.AltImageUrl5');
    </script>
    <script type="text/javascript" src="~/js/change-image.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
}

<div class="container">
    <h3 class="productDetailTitle">Rent Out Product</h3>
    <div class="row contentBox">
        <div class="col-md-6">
            <div>
                <img class="detailImage" src="@Model.ImageUrl" alt="Asset Main Image" id="mainImage" />
            </div>
        </div>
        <div class="subBox">
            <div>
                <p id="itemTitle">@Model.Name</p>
            </div>
            @using (Html.BeginForm("RentOutProduct", "Product", FormMethod.Post))
            {
                @Html.HiddenFor(a => a.AssetId)
                <div class="formField">
                    Please insert your Subscriber ID:
                    @Html.TextBoxFor(a => a.SubscriberId)
                </div>
                <div class="formBtnRent">
                    <button type="submit" class="btn btn-success btn-lg">Rent Out</button>
                </div>
            }
            <div class="altImages">
                <img src="@Model.ImageUrl" alt="Alt Image 1" id="altImg1" />
                <img src="@Model.AltImageUrl1" alt="Alt Image 2" id="altImg2" />
                <img src="@Model.AltImageUrl2" alt="Alt Image 3" id="altImg3" />
                <img src="@Model.AltImageUrl3" alt="Alt Image 4" id="altImg4" />
                <img src="@Model.AltImageUrl4" alt="Alt Image 5" id="altImg5" />
                <img src="@Model.AltImageUrl5" alt="Alt Image 6" id="altImg6" />
            </div>
        </div>
    </div>
</div>